* {
  font-family: "Lato", sans-serif;
}

/*Estructura de inicio*/
.inicio {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

/*Estructura de menu*/
.tarjetas {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: none;
}

/*Estructura de pedidos*/
.fondo-de-pedidos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: none;
}

/*Estructura de sucursales*/
.fondo-de-sucursales {
  display: flex;
  flex-direction: none;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: none;
  padding-top: 5%;
  padding-bottom: 10%;
}

/*Estructura de contacto*/
.fondo-de-contacto {
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
}

.btn-pizzeria {
  background-color: #ce1414;
  border: none;
  color: #ffffff;
  padding: 15px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  border-radius: 8px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  margin-top: 4%;
  border: 1px rgba(82, 2, 2, 0.5) solid;
}
.btn-pizzeria:hover {
  background-color: #ad0009;
  box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.4);
  color: #f7f6f4;
}

/* Estilos de la barra navegacion*/
section img.logo {
  display: flex;
  width: 7rem;
  height: auto;
}

header {
  position: sticky;
  top: 0;
  z-index: 100;
}
header .navegacion {
  background-color: #c61313;
}
header .navegacion .navbar-brand {
  margin: 0%;
}
header .navegacion .navbar-brand img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
header .navegacion .navbar-brand img:hover {
  box-shadow: 0px 0px 10px 0 rgba(20, 20, 20, 0.2);
}
header .navegacion .navbar-nav {
  flex-wrap: wrap;
  align-items: center;
}
header .navegacion .navbar-nav .nav-link {
  color: #e9e3dc;
  border: solid;
  border-color: #520202;
}
header .navegacion .navbar-nav .nav-link:hover {
  color: #eeeceb;
  background-color: #9e0808;
}
header .navegacion .navbar-nav .active {
  color: #eeeceb;
  background-color: rgba(85, 4, 4, 0.5);
}
header .navegacion .navbar-toggler {
  flex-basis: auto;
  justify-content: flex-end;
  margin-bottom: 3%;
}
header .navbar-expand-lg .navbar-collapse {
  flex-basis: auto;
  justify-content: flex-end;
}
header .navbar-expand-lg .navbar-collapse:not(.show) {
  display: none;
}

/*Estilos de principal inicio*/
.inicio {
  background-color: #c61313;
}
.inicio section.descripcion {
  display: flex;
  color: #e9e3dc;
  text-align: center;
  flex-direction: row-reverse;
  justify-content: center;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  margin-bottom: 3%;
  width: 50%;
}
.inicio section.descripcion:hover {
  transform: scale(1.05);
}
.inicio section.descripcion .titulo {
  display: flex;
  padding-top: 3%;
  padding-bottom: 3%;
  padding-right: 2%;
  padding-left: 2%;
  justify-content: center;
  width: 50%;
}

.frase {
  display: flex;
  background-color: #c61313;
  color: #e9e3dc;
  text-align: center;
  flex-direction: column;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  padding-top: 3%;
  padding-bottom: 3%;
  padding-right: 2%;
  padding-left: 2%;
  justify-content: center;
  width: 50%;
  margin-bottom: 20%;
  font-size: large;
}
.frase:hover {
  transform: scale(1.05);
}

/*Estilos de principal menu*/
.tarjetas {
  background-color: #c61313;
}
.tarjetas .card {
  width: 18rem;
  margin: 5em;
  text-align: center;
}
.tarjetas .card:hover {
  transform: scale(1.03);
}
.tarjetas .card .card-body {
  padding: 5%;
}
.tarjetas .card-img-top {
  border-radius: 3%;
}

/*Estilos de principal pedidos*/
.fondo-de-pedidos {
  background-image: url(../assets/pedido.png);
}
.fondo-de-pedidos .contenedor-pedido {
  height: 40%;
  margin-top: 10%;
  margin-bottom: 15%;
  border: 1px solid rgb(120, 7, 7);
  border-radius: 10px;
  padding: 10%;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  background-color: rgba(198, 19, 19, 0.75);
}
.fondo-de-pedidos .contenedor-pedido .d-flex {
  flex-direction: column;
  margin-top: 10%;
  margin-bottom: 10%;
}
.fondo-de-pedidos .contenedor-pedido .d-flex .title-pedido {
  text-align: center;
  color: #e9e3dc;
  margin-bottom: 2em;
  background-color: #ce1414;
  background-color: rgba(198, 19, 19, 0.75);
}

/*Estilos de principal sucursales*/
.fondo-de-sucursales {
  background-color: #c61313;
  color: #e9e3dc;
}
.fondo-de-sucursales .formulario-sucursal {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(120, 7, 7);
  border-radius: 10px;
  padding: 3%;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  background-color: rgba(198, 19, 19, 0.75);
  width: 40%;
}
.fondo-de-sucursales .ratio {
  width: 40%;
}

/*Estilos de principal contactos*/
.fondo-de-contacto {
  background-image: url(../assets/contacto.jpg);
  background-size: cover;
  color: #e9e3dc;
}
.fondo-de-contacto .formulario-contacto {
  height: 40%;
  margin-top: 5%;
  margin-bottom: 5%;
  border: 1px solid rgb(120, 7, 7);
  border-radius: 5%;
  padding: 10%;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  background-color: rgba(224, 29, 29, 0.841);
  font-weight: bold;
}

/*Estilos de footer*/
.pie-pagina {
  display: flex;
  flex-direction: row;
  flex-wrap: none;
  justify-content: space-evenly;
  align-items: stretch;
  background-color: #525151;
  color: #eeeceb;
  padding-bottom: 2%;
  padding-top: 2%;
  border-top: 1px solid #5a0000;
}
.pie-pagina .contenedor-pie {
  width: 25%;
}
.pie-pagina .contenedor-pie .social {
  color: #eeeceb;
}

.copyright {
  background-color: #525151;
  color: #eeeceb;
  text-align: center;
  border-top: 1px solid #5a0000;
  padding-top: 2%;
  padding-bottom: 1%;
}

/*Media queries*/
@media screen and (max-width: 600px) {
  .pie-pagina {
    display: flex;
    flex-direction: column;
    flex-wrap: none;
    justify-content: none;
    align-items: center;
  }
  .copyright {
    padding-left: 3%;
    text-align: center;
  }
  .contenedor-pie {
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: none;
    align-items: space-between;
    display: flex;
    width: 40%;
    align-items: center;
  }
  .card {
    width: 49%;
    margin: 0.5%;
    display: flex;
  }
  .tarjetas {
    justify-content: space-between;
  }
}

/*# sourceMappingURL=main.css.map */
