/*Estilos de footer*/


.pie-pagina{
    display: flex;
    flex-direction: row;
    background-color:#525151; 
    color: #eeeceb;
    justify-content: space-evenly;
    align-items: stretch;
    padding-bottom: 2%;
    padding-top: 2%;
    border-top: 1px solid #5a0000;

    .contenedor-pie {
        width: 25%;

        
            .social{
                color: #eeeceb;
            }
    }
    
    
}

.copyright {
    background-color:#525151; 
    color: #eeeceb;
    text-align: center;
    border-top: 1px solid #5a0000;
    padding-top: 2%;
    padding-bottom: 1%;
}