//Todo el codigo correspondiente a header

/* Estilos de la barra navegacion*/

section img.logo{
    display: flex;
    width: 7rem;
    height: auto;
   
}

header {
    position: sticky;
    top: 0;
    z-index: 100;

    .navegacion{
        background-color:$background-color-proyect; 

        .navbar-brand{
            margin: 0%;
            img{
                width: 100px;
                height: 100px;
            }
            
        }

        .navbar-nav {
            flex-wrap: wrap;
            align-items: center;

            .nav-link {
                color:$color-text-proyect;
                border:solid;
                border-color: #520202;

                &:hover{
                    color:$navbar-hover-text-color;
                    background-color:$navbar-hover-background-color;
                }
               
            }

            .active{
                color:$navbar-active-text-color;
                background-color:$navbar-active-background-color;
            }
            
        }
       
        .navbar-toggler{

            flex-basis: auto;
            justify-content: flex-end;
            margin-bottom: 3%;
        } 
        
    }

    .navbar-expand-lg .navbar-collapse {
        flex-basis: auto;
        justify-content: flex-end;

        &:not(.show) {
            display: none;
        }
    }
    
}


  
    

