/*Estilos de principal pedidos*/

.fondo-de-pedidos {
   background-image: url(../assets/pedido.png);

   .contenedor-pedido{
   
    height: 40%;
    margin-top: 10%;
    margin-bottom: 15%;
    border: 1px solid rgb(120, 7, 7); 
    border-radius: 10px; 
    padding: 10%;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    background-color: rgb(198, 19, 19,0.75); 

    .title-pedido {
        text-align: center;
        color: #e9e3dc;
        margin-bottom: 2em;
        background-color: #ce1414;
        background-color: rgb(198, 19, 19,0.75); 
        
     }


   
  }


}
//Se rompieron los estilos del boton


 


   



