/*Estilos de principal sucursales*/

.fondo-de-sucursales {
    background-color: #c61313;
    color:#e9e3dc;


    .formulario-sucursal {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        border: 1px solid rgb(120, 7, 7); 
        border-radius: 10px; 
        padding: 3%;
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
        background-color: rgb(198, 19, 19,0.75); 
        width: 40%;
       
    
    }
    
    
  .ratio {
    width: 40%;
   
 
  }

   
}




