/*Estilos de principal menu*/

.tarjetas {
    background-color: #c61313;

    .card {
        width: 18rem;
        margin: 5em;
        text-align: center;
        &:hover {
            transform: scale(1.03);
          }  

        .card-body {
            padding: 5%;

            
            
            }
        
        
        }

        .card-img-top {
            border-radius:3% ;
        }
    
    }
    
   


