/*Estilos de principal sucursales*/

.fondo-de-sucursales {
    background-color: #c61313;
    color:#e9e3dc;


    .formulario-sucursal {
        display: flex;
        flex-direction: column;
        border: 1px solid rgb(120, 7, 7); 
        border-radius: 10px; 
        padding: 3%;
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
        background-color: rgb(198, 19, 19,0.75); 
        width: 40%;


                
            .btn-sucursal {
                background-color:  #ce1414; 
                 border: none;
                 color: white; 
                padding: 15px 32px; 
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                 margin: 4px 2px;
                transition-duration: 0.4s; 
                border-radius: 8px; 
                box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
                margin-top: 4%;
                border: 1px rgb(82, 2, 2, 0.5) solid;

                &:hover {
                    background-color: #ad0009; 
                    box-shadow: 0px 12px 20px rgba(0,0,0,0.4);
                      
                  }
  
            }

       
    
    }
    
    
  .ratio {
    width: 40%;
   
 
  }

   
}




